# ignore object directories
Bend/obj/*
Bend/bin/*
Bend/Apps/*/obj/*
Bend/Apps/*/bin/*
Bend/ThirdParty/*/obj/*
Bend/ThirdParty/*/bin/*
Misc/*/obj/*
Misc/*/bin/*
Misc/*/*/obj/*
Misc/*/*/bin/*
Misc/*/*/*/obj/*
Misc/*/*/*/bin/*
# ignore visual studio files
*VisualState.xml
*.suo
*.user
TestResult.xml
